**/*.nc
**/*.npy
*.nc
*.joblib
*.csv
**/*.h5
**/*.gif
**/*.png
**/*.jpg
**/*.pdf
**/*.joblib
**/*.csv
.DS_Store
.DocumentRevisions-V100
.Spotlight-V100
.Trashes
**/.DS_Store
**/.DocumentRevisions-V100
**/.Spotlight-V100
**/.Trashes
